fastapi
uvicorn
python-dotenv
httpx
motor
pymongo
certifi
google-genai
apscheduler
loguru
tenacity
pydantic
pydantic-settings
jinja2
python-multipart

# Google / gRPC
google-api-core
grpcio
grpcio-status

# UI & Admin Panel
streamlit
extra-streamlit-components
bcrypt

# Utilities
rich
pytz

# Testing
pytest
pytest-asyncio
mongomock-motor